<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <!-- Top menu item -->
    <menuitem name="fw_odoo_facebook_post" id="fw_odoo_facebook_post.menu_root" web_icon="fw_odoo_facebook_post,static/description/icon.png"/>

    <!-- menu -->
    <menuitem name="Facebook Post" id="fw_odoo_facebook_post.menu_1" parent="fw_odoo_facebook_post.menu_root" action="fw_odoo_facebook_post.action_window"/>
    <menuitem name="How to use it" id="facebook_help" parent="fw_odoo_facebook_post.menu_root" action="facebook_help_action_window"/>

  </data>
</odoo>