<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Top menu item -->
        <menuitem name="fw_odoo_twitter_post" id="fw_odoo_twitter_post.menu_root" web_icon="fw_odoo_twitter_post,static/description/icon.png"/>

        <!-- menus -->
        <menuitem name="Tweet" id="fw_odoo_twitter_post.menu_1" parent="fw_odoo_twitter_post.menu_root" action="fw_odoo_twitter_post.action_window"/>
        <menuitem name="How to use it" id="twitter_help" parent="fw_odoo_twitter_post.menu_root" action="twitter_help_action_window"/>
    </data>
</odoo>